.container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid;

    &:hover {
        transform: scale(1.03, 1.03);
    }
    
    .category {
        align-self: flex-start;
        background-color: black;
        padding: 5px;
        color: white;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 100%;
        color: white;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 50px;
        font-size: 20px;
    }
}