.textCon {
    .firstLetter {
        font-size: 80px;
    }

    p {
        align-self: start;
    }

    flex: 0 0 60%;

    @media (max-width: 500px) {
        flex: 0 0 100%;
    }

    textarea {
        width: 100% !important;
        height: 100% !important;
        min-height: 300px;
        background: none !important;
        color: white;
        font-size: large;
    }
}