.imageCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: rgba($color: #000000, $alpha: 0.3);
    // border: 10px solid;
    max-width: 100%;
    height: auto;
    flex: 0 0 38%;

    @media (max-width: 500px) {
        background-size: contain;
        height: 200px;
        flex: 0 0 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }
    span {
        font-size: 13px;
    }
}