$primary_color_dark: #2F2E2B;
$primary_pink_vapor: #EC02A3;
$blue_vapor: #AEC9D7;
$blue_vapor_dark: #0F2149;
$purple_vapor: #780B93;

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20vh;
}