.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2vh;

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .contentLeft {
      flex: 0 0 60%;
      display: flex;
      flex-direction: column;
      @media (max-width: 1024px) {
        flex: 0 0 100%;
      }
    }

    .contentRight {
      flex: 0 0 30%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;

      @media (max-width: 1024px) {
        flex: 0 0 100%;
        padding-left: 0px;
        padding-top: 10px;
      }
    }
  }
}